*{
    margin: 0;
    padding: 0;
}
body{

    background: rgba(0, 0, 0, 0.7) url('../images/bg\ 1.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-size: 1920px 1080px;
}
.logo{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin: 10px auto;
    border: 5px solid rgb(255, 255, 255);
    width: 45%;
    border-radius: 50px;
}

.navbar{
    position: fixed;
    background:rgba(0, 0, 0, 0.7) url('../images/bg\ 1.jpg');
    width: 100%;
    background-size: cover;
    background-blend-mode: darken;
}
.nav-list{
    width: 50%;
    align-items: center;
    display: flex;
    list-style: none;
}

.nav-list li a{
    font-size: 25px;
    float: left;
    text-decoration: none;
    padding:25px;
    color: whitesmoke;

}

.nav-list li a:hover, .nav-list li a.active{
    color:grey;
    text-decoration: underline;
}
.image img{
    padding:20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.image{
    display: block;
    
    border: 2px solid red;
}
.image .primary{
    color:aliceblue;

}


.image .center {
    color:aliceblue;
}

.secRight{
    height:700px;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    display: flex;
    max-width: 1700px;
    margin: auto;

}
.secRight img{
    margin: 20px;
    height: 440px;
    width: 440px;
    border: 4px solid #706767;
    border-radius: 15%;
}
.sectionTag{
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    padding:10px;
    color:rgb(241 217 217);
}
.paras{
    
    font-size: 20px;
    color:aliceblue;
}
.sectionSubTag{
    font-family: 'Bree Serif', serif;
    font-size: 21px;
    position: relative;
    top:10px;
    left:13px;
    color:aquamarine;


}
footer{
    background-color: black;
    font-size: 20px;
    position: relative;
    top:850px;
    color:aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

 
 }
